<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About | Trikyas</title>
  </head>

  <!--
  ____________________________
  ( Don't get sucked in by comments )
  ( they can be terribly misleading.   )
  ( Debug only the code.                  )
  ___________________________
         o   ^__^
          o  (oo) \_______
             (__) \               )\\
                     | | ––ww |   \\
                    | |         | |     *



   -->
  <body>

    <h1>About Page</h1>
  </body>
</html>
